FML_ENVIRONMENT=development
FML_IMAGE=federated-machine-learning:latest
FML_RELEASE=development
FML_CONTROL_BIND=127.0.0.1:9093
FML_DASHBOARD_BIND=127.0.0.1:8501
FML_LOG_MAX_SIZE=10m
FML_LOG_MAX_FILES=5
